/**
 * Holy Grail Stylesheet.
 * Creates the Holy Grail (fixed width) of three-column layouts.
 * Primary / Content / Secondary
 * Fixed width of 960px.
 *
 * @link http://www.alistapart.com/articles/holygrail
 * @author Matthew Levine
 *
 * @since 0.6
 * @package Hybrid
 * @subpackage CSS
 */

body {
	min-width: 600px;      /* 2x LC width + RC width */
	}
#body-container {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	}
#primary-menu {
	position: relative;
	z-index: 100;
	}
#container {
	position: relative;
	clear: both;
	overflow: hidden;
	padding-left: 240px;   /* LC width */
	padding-right: 240px;  /* RC width */
	z-index: 1;
	}
.no-widgets #container, .no-default-widgets #container {
	width: 960px;
	padding-left: 0;
	padding-right: 0;
	}
.content, #primary, #secondary {
	position: relative;
	float: left;
	z-index: 1;
	}
.content {
	width: 100%;
	}
.no-widgets .content, .no-default-widgets .content {
	width: 960px;
	}
#primary {
	width: 220px;          /* LC width */
	right: 240px;          /* LC width */
	margin-left: -100%;
	}
#secondary {
	width: 220px;          /* RC width */
	margin-right: -240px;  /* RC width */
	margin-left: 20px;
	}

/*** IE6 Fix ***/
* html #secondary {
	left: 240px;           /* RC width */
	}

#subsidiary {
	overflow: hidden;
	}

#subsidiary .widget {
	overflow: hidden;
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
	}

#footer-container {
	clear: both;
	overflow: hidden;
	}

#footer {
	clear: both;
	}