/**
 * Three columns with content floated left.
 * Fixed width of 960px.
 * Content / Secondary / Primary
 *
 * @since 0.6
 * @package Hybrid
 * @subpackage CSS
 */

#body-container {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	}

#container {
	overflow: hidden;
	float: left;
	width: 960px;
	}

.content {
	overflow: hidden;
	float: left;
	width: 520px;
	}
.no-widgets .content, .no-default-widgets .content {
	width: 960px;
	}

#primary {
	overflow: hidden;
	float: right;
	width: 190px;
	}

#secondary {
	overflow: hidden;
	float: right;
	width: 190px;
	margin-right: 20px;
	}

#subsidiary {
	overflow: hidden;
	}

#subsidiary .widget {
	overflow: hidden;
	float: left;
	width: 300px;
	margin: 0 20px 0 0;
	}

#footer-container {
	clear: both;
	overflow: hidden;
	}

#footer {
	clear: both;
	}