/**
 * Admin Stylesheet.
 */

/* === Radio Image Control (Post Layout) === */

#hybrid-post-layout .has-img input[type="radio"] {
	clip:     rect(1px, 1px, 1px, 1px);
	height:   1px;
	overflow: hidden;
	position: absolute !important;
	width:    1px;
}

#hybrid-post-layout img {
	box-sizing: border-box;
	max-width:  100%;
	height:     auto;
	padding:    1px;
	border:     4px solid transparent;
}

	#hybrid-post-layout img:hover,
	#hybrid-post-layout img:focus {
		border-color: #ddd;
	}

	#hybrid-post-layout input:checked + span + img {
		border-color: #00a0d2;
	}
