/**
 * Admin Stylesheet.
 */

/* === Radio Image Control (Post Layout) === */

.form-field .hybrid-term-layout-header {
	font-style: normal;
}

.hybrid-term-layout-wrap .has-img {
	display: inline-block;
}

#hybrid-post-layout .has-img input[type="radio"],
.hybrid-term-layout-wrap .has-img input[type="radio"] {
	clip:     rect(1px, 1px, 1px, 1px);
	height:   1px;
	overflow: hidden;
	position: absolute !important;
	width:    1px;
}

#hybrid-post-layout img,
.hybrid-term-layout-wrap img {
	box-sizing: border-box;
	max-width:  100%;
	height:     auto;
	padding:    1px;
	border:     4px solid transparent;
}

	#hybrid-post-layout img:hover,
	#hybrid-post-layout img:focus,
	.hybrid-term-layout-wrap img:hover,
	.hybrid-term-layout-wrap img:focus {
		border-color: #ddd;
	}

	#hybrid-post-layout input:checked + span + img,
	.hybrid-term-layout-wrap input:checked + span + img {
		border-color: #00a0d2;
	}
