/* Theme settings page. */
.form-table th {
	width: 20%;
	font-weight: bold;
	}
.metabox-holder .column-1 {
	width: 100%;
	}
.metabox-holder .column-2 {
	float: left;
	width: 49%;
	}
.metabox-holder .column-3 {
	float: right;
	width: 49%;
	}

/* Widgets page. */
.columns-1 {
	}
.columns-2 {
	overflow: hidden;
	float: left;
	width: 48%;
	}
.columns-3 {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-right: 3.5%;
	}
.column-last {
	float: right;
	margin-right: 0;
	}

.hybrid-widget-controls label {
	font-size: 11px;
	}
.columns-2 input.widefat, .columns-2 select.widefat {
	width: 99%;
	}
.columns-3 select.widefat {
	width: 98.5%;
	}
.hybrid-widget-controls select[multiple="multiple"] {
	width: 100%;
	height: 5.0em !important;
	}
input.smallfat {
	float: right;
	width: 66px;
	}
select.smallfat {
	float: right;
	min-width: 66px;
	}