html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary, time, mark, audio, video {
	margin:          0;
	padding:         0;
	vertical-align:  baseline;
	outline:         none;
	font-size:       100%;
	background:      transparent;
	border:          none;
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}

html { font-size: 16px; }

body {
	line-height: 1.5;
	font-size:   1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-style:  normal;
	font-weight: normal;
	margin:      0 0 1.5rem;
}

h1 { font-size: 1.75rem;  }
h2 { font-size: 1.625rem; }
h3 { font-size: 1.5rem;   }
h4 { font-size: 1.375rem; }
h5 { font-size: 1.25rem;  }
h6 { font-size: 1.125rem; }

p,
figure { margin: 0 0 1.5rem; }

p:empty {
	margin:      0;
	padding:     0;
	line-height: 0;
}

ul {
	list-style: disc;
	margin:     0 0 1.5rem;
}

ol { margin: 0 0 1.5rem; }

	ul,
	ol { margin-left: 3rem; }

	ol.disc,                 ul.disc                 { list-style: disc;                 }
	ol.armenian,             ul.armenian             { list-style: armenian;             }
	ol.circle,               ul.circle               { list-style: circle;               }
	ol.cjk-ideographic,      ul.cjk-ideographic      { list-style: cjk-ideographic;      }
	ol.decimal,              ul.decimal              { list-style: decimal;              }
	ol.decimal-leading-zero, ul.decimal-leading-zero { list-style: decimal-leading-zero; }
	ol.georgian,             ul.georgian             { list-style: georgian;             }
	ol.hebrew,               ul.hebrew               { list-style: hebrew;               }
	ol.hiragana,             ul.hiragana             { list-style: hiragana;             }
	ol.hiragana-iroha,       ul.hiragana-iroha       { list-style: hiragana-iroha;       }
	ol.katakana,             ul.katakana             { list-style: katakana;             }
	ol.kataka-iroha,         ul.katakana-iroha       { list-style: katakana-iroha;       }
	ol.lower-alpa,           ul.lower-alpha          { list-style: lower-alpha;          }
	ol.lower-greek,          ul.lower-greek          { list-style: lower-greek;          }
	ol.lower-latin,          ul.lower-latin          { list-style: lower-latin;          }
	ol.lower-roman,          ul.lower-roman          { list-style: lower-roman;          }
	ol.none,                 ul.none                 { list-style: none;                 }
	ol.square,               ul.square               { list-style: square;               }
	ol.upper-alpha,          ul.upper-alpha          { list-style: upper-alpha;          }
	ol.upper-latin,          ul.upper-latin          { list-style: upper-latin;          }
	ol.upper-roman,          ul.upper-roman          { list-style: upper-roman;          }
	ol.initial,              ul.initial              { list-style: initial;              }

ul ul,
ol ol,
ul ol,
ol ul { margin-bottom: 0; }

	.comment-content ul,
	.comment-content ol { margin-bottom: 1.5rem; }

		.comment-content li ul,
		.comment-content li ol { margin-bottom: 0; }

dl { margin: 0 0 1.5rem; }

	dt {
		margin-left: 0.75rem;
		font-weight: bold;
	}

	dd { margin-left: 1.5rem; }

	dd + dd { margin-top: 0.75rem; }

	dd + dt { margin-top: 1.5rem; }

/* === <bdo> and direction === */

*[dir="ltr"] { direction: ltr; unicode-bidi: embed; }

bdo[dir="ltr"] { direction: ltr; unicode-bidi: bidi-override; }

/* === <center> tag === */

center { text-align: center; }

/* === strong, bold, etc. ===*/

b,
strong { font-weight: 700; }

	b b,
	strong strong { font-weight: 400; }

/* === Emphasis, italics, etc. === */

i,
em,
mark,
cite { font-style: italic; }

i i,
em em,
mark mark,
cite cite { font-style: normal; }

/* === Abbreviations, acronymns, etc. === */

abbr[title],
acronym[title],
time[title] { cursor: help; }

abbr,
acronym { border-bottom: 1px dotted #999; }

acronym { text-transform: uppercase; }

/* === Big === */

big { font-size: 1.125em; }

/* === Small, sup, sub === */

small,
sup,
sub { font-size: .8125em; }

sup {
	vertical-align: baseline;
	position:       relative;
	bottom:         0.3em;
}

sub {
	vertical-align: baseline;
	position:       relative;
	top:            0.3em;
}

/* === Address === */

address {
	font-style: italic;
	margin:     0 0 1.5rem;
}

/* === Quotes === */

blockquote {
	margin:     0 1.5rem;
	font-style: italic;
}

	blockqoute i,
	blockquote em,
	blockquote cite { font-style: normal; }

	.en-us q { quotes: '\201C' '\201D' '\2018' '\2019'; }

/* === Links === */

a { cursor: pointer; }

/* === Code === */

pre {
	overflow:      auto;
	word-wrap:     normal;
	font-family:   monospace;
	margin-bottom: 1.5rem;
	padding:       1.5rem;
}

code {
	direction:   ltr;
	text-align:  left;
	font-family: monospace;
}

ins,
dfn {
	font-style:      italic;
	text-decoration: none;
	border-bottom:   1px solid #999;
}

del,
s,
strike { text-decoration: line-through; }

object { margin-bottom: 1.5rem; }

/* === Forms === */

input,
textarea,
button,
select { font-family: inherit; }

input,
textarea { box-sizing: border-box; }

:focus { outline: none; }

label,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] { cursor: pointer; }

table {
	border-collapse: collapse;
	border-spacing:  0;
	margin-bottom:   1.5rem;
}

	th,
	td { text-align: left; }

hr {
	height:        1px;
	margin-bottom: 1.5rem;
	background:    #999;
	border:        none;
}

img {
	max-width:       100%;
	height:          auto;
}

img.wp-smiley,
img.emoji {
	display:    inline;
	box-shadow: none;
	max-height: 1em;
	width:      1em;
	margin:     0 .07em;
	padding:    0;
	border:     none;
	background: transparent;
}

.gallery {
	display:       block;
	text-align:    center;
	margin-bottom: 1.5rem;
}

.aligncenter,
.alignright,
.alignleft {
	display: block;
	margin:  0 auto 1.5rem;
}

	p .aligncenter,
	p .alignright,
	p .alignleft { margin-bottom: 0; }

	@media only screen and ( min-width: 480px ) {

		.alignleft {
			float:        left;
			margin-right: 1.5rem;
		}

		.alignright {
			float:       right;
			margin-left: 1.5rem;
		}
	}

.alignnone { float: none; }

.clear { clear: both; }

img.alignleft,
img.alignright { display: inline; }

blockquote.alignleft,
blockquote.alignright { width: 33%; }

.wp-audio-shortcode,
.wp-video-shortcode,
audio,
video,
object,
embed,
iframe {
	max-width:     100%;
	margin-bottom: 1.5rem;
}

.wp-audio-shortcode,
.wp-video-shortcode,
audio,
video {
	display:   block;
	max-width: 100%;
}

.show-if-js { display: none; }

.screen-reader-text,
.assistive-text {
	position: absolute;
	top:      -9999em;
	left:     -9999em;
}

.sticky, .bypostauthor {}
