/**
 * Readme Stylesheet
 * Style rules for the readme.html file
 *
 * @since 0.3
 * @package Hybrid
 * @subpackage CSS
 */

body {
	width: 750px;
	margin: 36px auto 60px auto;
	font: 16px/25px Georgia, Times, 'Times New Roman', serif;
	}
/* Links */
a:link, a:visited {
	color: #2f6eb9;
	text-decoration: none;
	}
a:hover, a:active {
	text-decoration: underline;
	}
/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 40px 0 30px 0;
	color: #000;
	font-weight: bold;
	font-family: Arial, sans-serif;
	}
h1 {
	margin-top: 80px;
	font-size: 2.2em;
	}
code {
	padding: 0 3px;
	background: #eee;
	}
pre code {
	padding: 0;
	}
pre {
	padding: 9px;
	background: #eee;
	border: 1px solid #ccc;
	}
ul {
	list-style: square;
	}
p.first {
	font-size: 21px;
	}
p.second {
	font-size: 15px;
	}
ul.space li {
	margin-bottom: 10px;
	}
.section {
	overflow: hidden;
	}

.columns-2 {
	float: left;
	width: 350px;
	margin: 0 0 21px 25px;
	}
.columns-3 {
	float: left;
	width: 230px;
	margin: 0 0 21px 20px;
	}